/* Su di noi */

h1,h2{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#f7810a;
}
body {
  font-family: "Open Sans", sans-serif;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #cc1616;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/* perchè sceglierci */

.why-us {
  padding-top: 10px;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.box{
  background-color: #0d6efd;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: black;
}

.why-us .box p {
  color: black;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #f7810a;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: white;
}

/* Brand */

.logo-list {
  padding: 20px 0;
  text-align: center;
}
.logo-list img {
  display:inline-block;
  max-width: 85%;
  padding: 15px 0;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100);
  -moz-filter: grayscale(100);
  filter: grayscale(100);
}
.logo-list img:hover {
  filter: none;
  transform: scale(1.2);
  -webkit-filter: none;
  -moz-filter: none;
}

/* Bottone */

.bottone{
  display: flex;
  align-items: center;
  justify-content: center;
}

