<div class="container">
    <div class="row">
        <div class="col-12  mx-auto my-5">
            <div class="mainbox">
                <h1 class="err">404</h1>
                <h2 class="err1"><i class="fas fa-times"></i>Pagina non trovata!<i class="fas fa-times"></i></h2>
                <div class="msg">
                    <p>È stata spostata? Cancellata?</p>
                    <p>Messa in quarantena?</p>
                    <p>Oppure non è mai esistita?</p>
                    <p>Prova a tornare sulla <a routerLink="">Home</a> e ricomincia da lì.</p>
                </div>
            </div>
        </div>
    </div>
</div>
