<div class="container">
    <div class="card my-5" *ngFor="let msg of messages">
        <div class="card-header">
            Messaggio da <b>{{ msg.name }}</b>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ msg.message }}</p>
                <footer class="blockquote-footer">
                    <small>
                        <cite title="Source Title">{{ msg.email }}</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
    </div>
</div>