.input-filterSearch{
    padding: 5px;
    border: 1px solid #ccc
}


.banner {
     /* height:80px;
    width:100%;
  
    background:
        linear-gradient(-135deg, #f7810a 5px, transparent 0) 0 5px,
        linear-gradient(135deg, #f7810a 5px, #fff 0) 0 5px;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
    */
    background-color: #f7810a;
    color: white;
    padding-top: 10px;
    border-top: 4px solid #ea2145;
    border-bottom: 4px solid #ea2145;
}

img {
    border-top: 4px solid #ea2145;
}

.btn {
    border-radius: 28px;
    border-color: #ea2145;
    border-width: 3px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 14px;
    background-color: #f7810a;
}

.btn:hover {
    background-color: darken(#f7810a, 3%);
}