<div class="container my-5">

    <div class="row text-center">
        <h1 class="border-bottom">Frequently Asked Questions</h1>
        <h6 class="text-muted">Mostra <button class="btn btn-link" (click)="filterFaq(0)">TUTTE</button> | <button class="btn btn-link" (click)="filterFaq(1)">RESTITUZIONE</button> | <button class="btn btn-link" (click)="filterFaq(2)">SPEDIZIONE</button></h6>
    </div>
    <!-- <div class="row my-5">
        <div class="col"></div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cosa stai cercando?"
                    aria-label="Cosa stai cercando?" aria-describedby="button-search">
                <button class="btn btn-outline-secondary" type="button" id="button-search">Cerca</button>
            </div>
        </div>
        <div class="col"></div>
    </div> -->

    <div class="accordion accordion-flush" id="accordionFlushExample">
    
        <div *ngFor="let faq of faqs">
            <ng-container class="accordion-item" *ngIf="currentFilter == 0 || currentFilter == faq.category">
    
                <h2 class="accordion-header border-bottom" [id]="'flush-heading'+faq.id">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#flush-collapse'+faq.id" aria-expanded="false"
                        [attr.aria-controls]="'flush-collapse'+faq.id">
                        {{ faq.question }}
                    </button>
                </h2>
                <div [id]="'flush-collapse'+faq.id" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'flush-heading'+faq.id" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body text-muted">
                        {{ faq.answer }}
                    </div>
                </div>
            </ng-container>
        </div>
    
    </div>

    <div class="row text-center my-5">
        <h1 class="border-bottom">Non hai trovato quello che cercavi?</h1>
        <h6 class="text-muted">Contattaci utilizzando il form qui in basso, un nostro operatore ti risponderà al più
            presto.</h6>
    </div>

    <form class="my-5" (ngSubmit)="submitForm()">
        <div class="row mb-3">
            <div class="col-2"></div>
            <div class="col-md-4">
                <label for="nome" class="form-label">Nome</label>
                <input name="name" type="text" class="form-control" id="nome" [(ngModel)]="name">
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">E-Mail</label>
                <input name="email" type="email" class="form-control" id="email" [(ngModel)]="email">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2"></div>
            <div class="col-md-8">
                <label for="msg" class="form-label">Messaggio</label>
                <textarea name="msg" class="form-control" id="msg" rows="5" [(ngModel)]="msg"></textarea>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row mb-3"  *ngIf="showMessage">
            <div class="col-2"></div>
            <div class="col-md-8 alert" [ngClass]="{'alert-success': !isError, 'alert-danger': isError}" >{{errorMessage}}</div>
            <div class="col-2"></div>

        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-end">
                <button type="submit" class="btn btn-primary">Invia</button>
            </div>
            <div class="col-2"></div>
        </div>
        
    </form>

</div>


